body {
  font-family: "Fjalla One", sans-serif;
  margin: 0;
  padding: 0;
  color: white; }

header {
  display: flex;
  justify-content: space-between;
  background-image: url("../img/hero-slide1.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh; }

.header-container {
  width: 970px;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
  align-items: center; }
  .header-container h2 {
    font-size: 35px; }
    @media screen and (max-width: 969px) {
      .header-container h2 {
        margin-left: 100px; } }
  .header-container ul {
    list-style-type: none;
    margin: 40px 0;
    padding: 0;
    display: flex; }
    @media screen and (max-width: 969px) {
      .header-container ul {
        display: none; } }
  .header-container li {
    color: white;
    list-style-type: none;
    padding-right: 20px; }
  .header-container a {
    text-decoration: none;
    color: #fff; }
  .header-container .hidden-burger {
    display: none; }
    @media screen and (max-width: 969px) {
      .header-container .hidden-burger {
        display: block; }
        .header-container .hidden-burger i {
          display: block;
          font-size: 30px;
          margin-right: 100px; } }

.hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  align-self: center; }
  .hero-container h3 {
    line-height: 0px;
    letter-spacing: .3em; }
  .hero-container h1 {
    font-size: 100px;
    font-family: "Playfair Display", serif;
    line-height: 0px;
    letter-spacing: .1em; }

.hero-border {
  border: 3px solid white;
  width: 30%;
  margin: 20px 0; }

.hero-play {
  background-color: lightgray;
  border-radius: 50%;
  opacity: .8;
  width: 100px;
  height: 100px;
  background-image: url("../img/play.png");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: 30px; }

.hero-button {
  align-self: center; }

.button {
  display: flex;
  background-color: #dc7725;
  line-height: 60px;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0 30px;
  font-family: "Fjalla One", sans-serif;
  letter-spacing: 2px;
  color: white;
  border: 0px solid transparent; }

.triangle {
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #dc7725;
  margin: 0 auto; }

header {
  display: flex;
  justify-content: space-between;
  background-image: url("../img/hero-slide1.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  flex-direction: column;
  position: relative; }

.secondary-wrapper {
  background-color: #393939;
  width: 100%; }

.secondary-header {
  width: 970px;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
  font-family: 'Open Sans', sans-serif; }
  .secondary-header ul {
    margin-top: 40px;
    display: flex; }
  .secondary-header li {
    color: white;
    list-style-type: none;
    padding-right: 20px; }
  .secondary-header a {
    text-decoration: none;
    color: #aab0b0; }
    .secondary-header a:hover {
      color: #fff; }
  .secondary-header p {
    color: white; }

.secondary-header > ul:nth-child(1) > li:first-child > a {
  color: #fff; }
  .secondary-header > ul:nth-child(1) > li:first-child > a:hover {
    color: #dc7725; }

.secondary-header > ul:nth-child(1) > li:nth-child(4) {
  border-right: 1px solid #aab0b0; }

.secondary-header > ul:nth-child(1) > li:nth-child(5) > a {
  padding-left: 15px;
  color: #dc7725; }

.secondary-header > ul:nth-child(2) > li:nth-child(1) {
  cursor: pointer; }

/*GALLERY*/
.gallery-container {
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-x: auto; }

.image {
  display: flex; }

.image-1 {
  background-image: url("../img/home-raft.jpg");
  height: 50%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-basis: 50%; }

.image-2 {
  background-image: url("../img/home-basecamp.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-basis: 25%; }

.image-3 {
  background-image: url("../img/home-backpacking.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  flex-basis: 25%;
  display: flex; }

.image-4 {
  background-image: url("../img/home-canoe.jpg");
  height: 50%;
  flex-basis: 25%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex; }

.image-5 {
  background-image: url("../img/home-photo.jpg");
  height: 50%;
  flex-basis: 25%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex; }

.image-6 {
  background-image: url("../img/home-custom.jpg");
  height: 50%;
  flex-basis: 50%;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex; }

.gallery-icon {
  background-color: #434343;
  opacity: 0.7;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center; }

.gallery-img {
  width: 50px; }

.gallery-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 40px;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  text-shadow: 2px 2px 2px #444; }

.gallery-border {
  border: 3px solid #dc7725;
  width: 30%; }

/*# sourceMappingURL=output.css.map */
